body {
    font-family: 'Segoe UI'
    background-color: #f5f7fa;  /*roxo claro*/
    color: #333; 
    margin: 0; /* sem margem externa */
    padding: 0; /*espaço interno ao redor do conteudo*/
}
/* ------------------------------ */
/* MENU DE NAVEGAÇÃO */
/* ------------------------------ */
nav {
  display: flex;
  justify-content: center;     /* centraliza horizontalmente */
  align-items: center;         /* centraliza verticalmente */
  gap: 25px;                /* altura do retângulo */
  background: linear-gradient(90deg, #6a1b9a, #8e24aa); 
  border-radius: 6px;
  margin: 0 auto;              /* centraliza o nav como um todo */
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
nav.menu {
    background-color: #5e2ca5;
    padding: 1rem;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav.menu ul li {
    margin:0 1rem;
}

nav.menu ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight:bold;
    transition: color 0.3s;
}

nav.menu ul li a:hover {
  color:#1abc9c ;
}

main p {
  border-left: 5px solid #6a1b9a; /* cor e espessura da borda */
  padding-left: 15px;             /* espaço entre a borda e o texto */
  margin: 20px auto;
  font-size: 16px;
  color: #333;
  max-width: 600px;               /* opcional: limita largura para visual mais limpo */
}

h1 {
    text-align: center;
    color: #000; /*titulo em preto*/
}

form {
    border-left: 5px solid #6a1b9a; /* cor e espessura da borda */
    padding-left: 15px;             /* espaço entre a borda e o texto */
    font-size: 16px;
    color: #333;
    max-width: 600px;
    margin: 20px auto; /*centraliza automaticamente e na horizontal */
    background-color: #ffffff; /*cor fundo branco*/
    padding: 30px; /*espaço interno */
    border-radius: 12px; /*deixa borda arrendondada*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* cria uma sombra */
}

table {
    width: 100%; /*tabela ocupa todo o formulário*/
    border-collapse: collapse; /*retira espaçamento entre células*/
}
table th {
  text-align: left;     /* Alinha o texto horizontalmente à esquerda */
  vertical-align: top;  /* Alinha o texto verticalmente no topo */
  padding-right: 10px;  /* Um espaçamento entre o texto e o campo */
}

label { /*estilizando os rótulos*/
    font-weight: 500; /*ajustando o tamanho da fonte e cor*/
    color: #000; 
}

.links-projetos {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  gap: 10px;
}

.links-projetos a {/*links*/
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.links-projetos i {/*logos*/
  font-size: 20px;
  margin-right: 10px;
  width: 24px;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /*expande para toda área*/
    padding: 10px;
    border: 1px solid #a375ee; /*borda roxa claro*/
    border-radius: 6px; /*borda arrendondada*/
    margin-top: 4px; /*espaçamento superior*/
    margin-bottom: 16px;  /*espaçamento inferior*/
    font-size: 16px;
    background-color: #ffffff;/*borda lilas*/
}

input:focus,
textarea:focus {
    border-color: #a084ca;
    outline: none; /*remove contorno*/
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 18px; /*padding 10px vertical , 18px horizontal*/
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer; /*muda o cursor ao passar o mouse*/
    transition: background-color 0.3s ease; /*anima o cursor suavemente*/
}

button:hover {
    background-color: #5e2ca5; /*muda o estilo do botão ao passar o mouse*/
}
/*Personalizando links*/
a {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    color: #2c3e50;
    text-decoration: none;
    margin-bottom: 12px;
    transition: color 0.3s ease;
}

a:hover {
    color: #5e2ca5;
    text-decoration: underline;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  color: #2c3e50;
  
}

ol {/*lista ordenada*/
  margin-left: 20px;
  padding-left: 10px;.
  color: #333;
}

li {/*elementos internos*/
  margin-bottom: 8px;
  line-height: 1.6;
  font-size: 16px;
}